<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.test">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"
        tools:ignore="ProtectedPermissions" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <queries package="${applicationId}">
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE">

            </action>
        </intent>
        <intent>
            <action android:name="android.media.action.ACTION_VIDEO_CAPTURE">

            </action>
        </intent>
    </queries>


    <application
        android:name="com.example.BaseApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:requestLegacyExternalStorage="true"
        android:theme="@style/Theme.Test">
        <activity android:name="com.example.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NetActivity"
            android:theme="@style/CommonTransparent"
            android:screenOrientation="portrait" />
        <activity android:name="com.example.sharedflow.SFActivity" />
        <activity android:name="com.example.animation.AnimationActivity" />
        <activity android:name="com.example.viewgroup.GroupActivity" />
        <activity android:name="com.example.ruler.RulerActivity" />
        <activity android:name="com.example.scroll.ScrollActivity" />
        <activity android:name="com.example.nestedscroll.NestedScrollActivity" />
        <activity android:name="com.example.fragment.FragmentActivity" />
        <activity android:name="com.example.shadow.ShadowActivity" />
        <activity android:name="com.example.coordinatorlayout.multinested.MultiNestedActivity" />
        <activity android:name="com.example.recyclerview.RecyclerViewActivity" />
        <activity android:name="com.example.animation.FragmentSwitchActivity" />
        <activity android:name="com.example.gpu.overdraw.OverDrawActivity" />
        <activity android:name="com.example.launchmode.LaunchModeActivity" />
        <activity
            android:name="com.example.launchmode.ALActivity"
            android:launchMode="singleTask" />
        <activity android:name="com.example.launchmode.BLActivity" />
        <activity android:name="com.example.launchmode.CLActivity" />
        <activity android:name="com.example.launchmode.DLActivity" />
        <activity android:name="com.example.table.TableActivity" />
        <activity android:name="com.example.biometric.BiometricActivity" />
        <activity android:name="com.example.mediaselect.MediaSelectActivity" />
        <activity android:name="com.example.leak.HandlerActivity" />
        <activity android:name="com.example.webview.SimpleWebViewActivity" />
        <activity android:name="com.example.audiorecord.AudioRecordActivity" />
        <activity android:name="com.example.timepicker.TimePickerActivity" />
        <activity android:name="com.example.chart.ChartActivity" />
        <activity android:name="com.example.canvas.CanvasActivity" />

    </application>

</manifest>